<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!--Feeder-->
    <add key="FeederIp" value="10.1.142.10"/>
    <add key="FeederPort" value="5000"/>

    <!--AutoRun-->
    <add key="AutoRun" value="0"/>
  
    <!--MMTP Log Message-->
    <add key="WriteMMTPLogMessageUnReadable" value="1"/>
    <add key="WriteMMTPLogMessageReadable" value="1"/>
    <add key="ReadFromMMTPLogMessage" value="0"/>
    <add key="MMTPLogMessageName" value="MMTP-2017-11-21.log"/>
  
    
    <!--Protocole Mode :
    1- diff
    2- rlc
    -->
    <add key="ProtocoleMode" value="diff"/>
  </appSettings>
</configuration>